body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Section & Navigation Bar CSS */
nav{
    display: flex;
    justify-content: space-around;
    background-color: #562EFF;
    padding: 30px 50px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.icon img{
    height: 50px;
    margin-right: 20px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
/* Header Section & Navigation Bar CSS */