/* General CSS */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.container {
    /* width: 62%; */
    width: 870px;
    padding: 10px 10px;
    margin: 40px auto;
    background-color: white;
    border-radius: 5px;
}

/* General CSS */

/* Header Section & Navigation Bar CSS */
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #562EFF;
    column-gap: 2em;
    padding: 30px 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icon img {
    height: 50px;
    margin-right: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

/* Header Section & Navigation Bar CSS */

/* Top Player Section CSS */
.title {
    padding-left: 2em;
    color: #562EFF;
}

.palyer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3em;
}

.player-card {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.player-card img {
    height: 80px;
    margin-right: 10px;
}

hr {
    width: 90%;
    border: 1px solid #D1D1D1;
}

/* Top Player Section CSS */



/* Top Blog Section CSS */
.blog-card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 6em;
    padding: 10px 50px;
}

.blog-card {
    display: flex;
    align-items: center;
}

.blog-img {
    margin-right: 20px;
}

.blog-img img {
    height: 100px;
}

.blog-info {
    width: 80%;
}

.blog-info p {
    color: gray;
}

.blog-info span {
    color: #562EFF;
}

/* Top Blog Section CSS */


/* Latest Course Section CSS */
.course-card-container {
    /* width: 90%; */
    margin: 0 auto;
    background-color: white;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course-card {
    padding: 10px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px 6px rgb(238, 238, 238);
    border-radius: 10px;
}

.course-img {
    margin: 0 auto;
}

.course-img img {
    height: 110px;
}

.course-info p {
    color: coral;
}

.course-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-hour {
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 8px 12px;
    border-radius: 15px;
    font-weight: 600;
}

.fa-star {
    color: #FFC014;
    font-size: 0.75em;
}

.fa-star:last-child {
    color: lightgray;
}

/* Latest Course Section CSS *



/* ===========================
        Resposive CSS 
===============================*/

/* Media Query:
Responsive CSS Tag uses for Small devices such as Mobile phones
*/

@media only screen and (max-width: 576px) {
    nav {
        width: 100%;
        display: block;
    }

    .container {
        width: 100%;
    }

    .title {
        padding-left: 0;
        text-align: center;
    }

    .palyer-section,
    .blog-card-section,
    .course-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .palyer-section {
        margin-left: 0;
    }

    .player-card,
    .blog-card {
        flex-direction: column;
    }

    .top-blog-container {
        text-align: center;
    }

    .blog-card-section {
        padding: 10px;
    }

    .blog-img {
        margin-right: 0;
    }

    .blog-img img {
        width: 80%;
        height: 80%;
        text-align: center;
    }

    .blog-info {
        text-align: center;
    }

    .course-card-container {
        grid-row-gap: 20px;
    }

    .course-img img {
        width: 100%;
        height: 100%;
    }

}


/* Media Query:
Responsive CSS Tag uses for Medium Devices like Tablet, Ipad or others
*/

@media screen and (max-width: 992px) and (min-width: 577px) {
    nav {
        justify-content: space-between;
        padding: 20px 40px;
    }

    .container {
        width: 100%;
    }

    .blog-card-section {
        column-gap: 2em;
        padding: 10px 35px;
    }

    .course-card-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    .course-card {
        min-height: 270px;
        padding: 10px;
        margin-right: 10px;
    }

    .course-img img {
        width: 100%;
        height: 100px;
    }

    .course-info h3 {
        width: 80%;
    }
}

/* Media Query Declaration:
Responsive CSS Tag used for Medium large devices like Medium Laptops or Medium Screens
 */
@media screen and (max-width: 1024px) and (min-width: 993px) {
    nav {
        justify-content: space-around;
        column-gap: 16em;
    }

    .container {
        width: 80%;
    }

    .blog-card-section {
        column-gap: 2em;
    }

    .course-img img {
        width: 100%;
        height: 100%;
    }
}

/* ============================
        Resposive CSS 
===============================*/